/*
 * Colors
 */

/* Blue Dark: #2F363F */
/* Light Sea Green: #3AA593 */
/* Pattens Blue: #C0D6DF */
/* Tea Blue: #0B3948
   Bay of many: #041C3F
 */

/*
 * Test Grid
 */

/*div{
	border: 1px solid #000;
}*/

html, body{
	background-color: #C0D6DF;
}

.description {
    margin-top: -2px !important;
}

.menu-principal{
	height: 60px;
	background-color: #2F363F;
}

.menu-esquerdo{
	height: 550px;
	background-color: #fff;
}

.menu-perfil{
	margin: 0 auto;
	text-align: center;
	background-color: #041C3F;
}

.menu-opcoes{
	background-color: #3AA593;
}

.mg-tp-5{
	margin-top: 5px !important;
}

.color-white{
	color: #666 !important;
}

.centro{
	text-align: center;
}

img.ui.medium.image.centered {
    margin-top: -15px;
}